 <html>
    <head>
        <title>Curriculum Vitae</title>
    </head>
    < body>
        <h1>Nome completo</h1>
        <h2>Endereço completo</h2>
        <p>Formação</p>
        <ul>
            <li>Formação 1</li>
        </u l>
        <p>Experiência profissional</p>
        <ul>
            <li>Experiência 1</li>
        </u l>
    </body>
 </html>